.button-container {
  width: 334px;
  height: 59px;
  background: #ffb72d;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-container:hover {
  background: #cf9322;
  transition: all ease-in-out 0.15s;
}

.button-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.link-button {
  color: red;
}
