.button-container {
  width: 334px;
  height: 59px;
  background: #ffb72d;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.link-button {
  color: red;
}
